---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/transactions/orders/R181807170
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer taxjar_api_key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"Not Found","detail":"The resource was not found","status":404}'
  recorded_at: Fri, 12 Feb 2016 20:22:30 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"transaction_id":"R181807170","transaction_date":"2016-02-12T19:19:5Z","from_state":"TX","from_city":"Austin","from_street":"306
        E. 3rd Street","from_country":"US","from_zip":"78701","to_country":"US","to_state":"Maryland","to_city":"Bethesda","to_street":"7735
        Old Georgetown Rd","to_zip":"20814","amount":114.95,"shipping":0,"sales_tax":5,"line_items":[{"id":null,"quantity":2,"production_indetifier":"SPR-00001","product_tax_code":null,"description":"Spree
        Baseball Jersey","unit_price":19.99,"discount":null,"sales_tax":null},{"id":null,"quantity":3,"production_indetifier":"ROR-00004","product_tax_code":null,"description":"Ruby
        on Rails Baseball Jersey","unit_price":19.99,"discount":null,"sales_tax":null}]}'
    headers:
      Authorization:
      - Bearer taxjar_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"7d25a551e5cf4aba76080d65720cf75b"'
    body:
      encoding: UTF-8
      string: '{"order":{"transaction_id":"R181807170","user_id":20328,"transaction_date":"2016-02-12T19:19:05Z","transaction_reference_id":null,"from_country":"US","from_zip":"78701","from_state":"TX","from_city":"AUSTIN","from_street":"306
        E. 3rd Street","to_country":"US","to_zip":"20814","to_state":"MARYLAND","to_city":"BETHESDA","to_street":"7735
        Old Georgetown Rd","amount":"114.95","shipping":"0.0","sales_tax":"5.0","line_items":[{"id":1,"quantity":3,"product_identifier":null,"product_tax_code":null,"description":"Ruby
        on Rails Baseball Jersey","unit_price":"19.99","discount":"0.0","sales_tax":"0.0"},{"id":0,"quantity":2,"product_identifier":null,"product_tax_code":null,"description":"Spree
        Baseball Jersey","unit_price":"19.99","discount":"0.0","sales_tax":"0.0"}]}}'
  recorded_at: Fri, 12 Feb 2016 20:22:31 GMT
recorded_with: VCR 2.9.3
